body {
    margin: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
    color:#E2E2E2;
}



#left-menu{
    height: 100vh;
    width: 15%;
    background-color: #FFFFFF;
    float: left;
    display: block;
    position: relative;
}

#Logo{
    text-align: center;
    height: 15%;
    line-height: 3vh;
    font-size: 3vh;
    color: #EB4A52;
    font-weight: bold;
    margin-top: 5vh;
}

#Logo > p{
    margin: 0;
    height: 100%;
    width: 100%;
}

#side-menu{
    overflow: hidden;
    padding: 0;
    list-style-type: none;
}

#don{
    background-color: #391994;
    margin-top: 40px;
    color: #FEFEFE;
    padding: 10px;
    text-align: center;
    line-height: 30px;
    border-bottom: 5px solid rgba(46,20,119,1);
}

.hover-menu {
    color: #E2E2E2;
    padding:12px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:5px solid rgba(199,61,67,0);
}

.hover-menu:hover{
    background-color: #F9636F;
    color: #FEFEFE; 
    border-bottom : 5px solid rgba(199,61,67,1);
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.hover-menu:hover > a{
     -webkit-transition: color 1s; 
    -moz-transition: color 1s; 
    transition: color 1s; 
    color:#FEFEFE;
}

